$keyColor_1: rgba(247, 249, 247, 1.00)
$keyColor_2: rgba(255, 255, 255, 1.00)
$keyColor_3: rgba(69, 192, 234, 1.00)
$keyColor_4: rgba(40, 235, 153, 1.00)
$keyColor_5: rgba(161, 162, 161, 1.00)

$headerHeight: 60px
$footerHeight: 120px
$footerHeight840px: 240px

$pieW: 400px
$pieH: 400px


@mixin disappear
  position: absolute
  visibility: hidden
  z-index: -99999
  opacity: 0